@import '//scss/base';
@import '_configuration/mail';
// @import '_configuration/settings'; // override with foundation-sites settings
@import '//node_modules/foundation-emails/../scss/foundation-emails';

h1{
  border-bottom:1px dotted $medium-gray;
  padding-bottom:1rem;
  margin-bottom:1rem;
}

.body-inner{
  padding-top:15px;
}
a,
a:link{
  color:$text-color;
}
.logo-img{
  max-width:250px;
  height:auto;
  width:auto;
}
.mail-header{
  border-bottom:1px solid $grey-light;
  margin-bottom:1em;
  .columns{
    padding-bottom:1em;
  }
}
.mail-footer{
  border-top:1px solid $grey-light;
  margin-top:1em;
  .columns{
    padding-top:1em;
  }
}
