@import '//scss/base';

// Foundation
@import '//node_modules/foundation-sites/../scss/util/util';
@import '//node_modules/foundation-sites/../scss/global';
@import '//node_modules/foundation-sites/../scss/grid/grid';

// Remove nonense link path print out by some browsers
a::after{
  content:" " !important;
}

// Hide certain page parts we won't print out
.hide-for-print,
.header-image-wrapper,
.top-bar-outer,
.sidebar,
form,
.button,
form,
.page-header,
.page-footer,
#sliding-popup,
.scroll-top {
  display:none !important;
}

// Avoid page breaks inside defined elements
picture,
img,
.slick-slider,
.card,
.media-object {
  page-break-inside: avoid;
}

// As we hide any sidebars - give the main wrapper 100% width
.page-main-content{
  @include flex-grid-column(12);
}
