// =============================================================================
//  Typygraphy
// =============================================================================

// Hint: This file is just for external use (eg. WYSIWYG CSS)
//       It's not used in the frontend.

@import '//scss/base';

// Reset some variables to ensure everything looks fine in the editor
// (especialy on designs with dark backgrounds and white text color)
$body-background: $white;
$body-font-color: $gray-dark;
$text-color: $body-font-color;
$header-color: $black;

// Foundation
@import '//node_modules/foundation-sites/../scss/global';
@import '//node_modules/foundation-sites/../scss/typography/typography';
@import '//node_modules/foundation-sites/../scss/components/table';
@import '//node_modules/foundation-sites/../scss/components/card';
@import '//node_modules/foundation-sites/../scss/components/media-object';
@import '//node_modules/foundation-sites/../scss/components/callout';

@include foundation-global-styles;
@include foundation-typography;
@include foundation-table;
@include foundation-card;
@include foundation-media-object;
@include foundation-callout;

// Embeded entities
@import 'entities/media';
@import 'entities/misc';
@import 'components/cards';
@import 'components/media_objects';
.cke_widget_element[data-entity-embed-display*="media_object"]{
  // -- Fix media object > full width
  display:block;
}
// Fix embeded entities alignment (see also: page_layout/_layout.scss > .embed-X)
// these wrappers just printed out in the editor, floating just the content (.embed-X) causes UI errors.
drupal-entity[data-align="left"],
drupal-entity[data-align="right"]{
  max-width:50%;
  *{
    float:none !important;
    width:auto !important;
  }
}
drupal-entity[data-align="left"]{
  float:left;
}
drupal-entity[data-align="right"]{
  float:right;
}

// Custom typo overrides
$font-first-path: '../fonts/';
@import 'base/drowl_child.typography';

// Icons
@import 'components/icons';

// Buttons
@import '//node_modules/foundation-sites/../scss/components/button';
@include foundation-button;

// Spacings
@include spacings-responsive-styles();

// Colors
@include color-modfier-styles();

// List Styles
@import 'components/list_styles';

// Ckeditor improvements / Fixes
body.cke_editable{
  background:$white;
  padding:.5rem;
  font-size:$global-font-size;
}
