// List of all variables: https://gitlab.com/webksde/drupal/drowl-sass-base/-/blob/master/_configuration/_cookies_variables.scss

// Load drowl-sass-base defaults
@import '//node_modules/drowl-sass-base/_configuration/_cookies_variables';

// Override single variables or comment out the defaults import above and override them all

// $cookies-bg-color: $darker-gray;
// $cookies-font-color: $light-gray;
// $cookies-font-size: $medium-font-size;
// $cookies-primary-color: $primary-color;
// $cookies-primary-color-text: $primary-color-text;
// $cookies-btn-hollow-border-color: $text-color;
// $cookies-btn-hollow-text-color: $text-color;

