@import '//scss/_configuration/settings';

// To override a value, uncomment the line and remove the at the end of the line.

// Default variables
// -- Breakpoints & Cointainers
// $eucc-small-breakpoint: 544px;
// $eucc-medium-breakpoint: 768px;
// $eucc-large-breakpoint: 992px;
$eucc-container-max-width: $global-width;
// -- Typo
// $eucc-small-font-size: 12px;
// $eucc-medium-font-size: 14px;
$eucc-font-weight-normal: $global-weight-normal;
$eucc-font-weight-bold: $global-weight-bold;
// -- Spacings
// $eucc-margin: 1rem;
// $eucc-grid-gutter: $eucc-margin;
// $eucc-grid-gutter-half: $eucc-margin / 2;
$eucc-button-radius: $button-radius;
// $eucc-withdraw-tab-radius: $eucc-button-radius;
// -- Colors
$eucc-success-color: $success-color;
$eucc-gray: $grey;
$eucc-gray-dark: $grey-dark;
$eucc-gray-darker: $grey-darker;
$eucc-white: $white;
$eucc-black: $black;
$eucc-primary-color: $primary-color;
// $eucc-primary-color-text: $eucc-white;
// -- Banner Settings
// $eucc-banner-background-color: $eucc-white;
// $eucc-banner-text-color: $eucc-gray-darker;
// $eucc-banner-hollow-button-border-color: $eucc-gray;
// $eucc-banner-hollow-button-text-color: $eucc-banner-text-color;
// $eucc-banner-show-shadow: true;
// $eucc-banner-shadow: 0 0 12px rgba(0,0,0,.15);
// !! Attention: Ensure there is a custom revoke link if this is enabled!
// $eucc-banner-use-custom-revoke-link: false;

