//  Foundation for Emails Settings
//  ------------------------------
//
//  Table of Contents:
//
//   1. Global
//   2. Grid
//   3. Block Grid
//   4. Typography
//   5. Button
//   6. Callout
//   7. Menu
//   8. Thumbnail

@import "settings";

// 1. Global
// ---------

$primary-color: $primary-color;
$secondary-color: $secondary-color;
$success-color: $success-color;
$warning-color: $warning-color;
$alert-color: $alert-color;
$light-gray: $light-gray;
$medium-gray: $medium-gray;
$dark-gray: $dark-gray;
$black: $black;
$white: $white;
$pre-color: $primary-color;
$global-width: 580px;
$global-width-small: 95%;
$global-gutter: 16px;
$body-background: $light-gray;
$container-background: $white;
$global-padding: 16px;
$global-margin: 16px;
$global-radius: $global-radius;
$global-rounded: 500px;
$global-breakpoint: $global-width+$global-gutter;

// 2. Grid
// -------

$grid-column-count: 12;
$column-padding-bottom: $global-padding;
$container-radius: 0;

// 3. Block Grid
// -------------

$block-grid-max: 8;
$block-grid-gutter: $global-gutter;

// 4. Typography
// -------------
$global-font-color: $body-font-color;
$body-font-family: Helvetica,
Arial,
sans-serif;
$global-font-weight: normal;
$header-color: inherit;
$global-line-height: 120%; // Important: This needs to be a percentage value - outlook doesnt interprete EM and things.
$global-font-size: 14px;
$body-line-height: $global-line-height; // Important: This needs to be a percentage value - outlook doesnt interprete EM and things.
$content-line-height: 150%;
$header-font-family: $body-font-family;
$header-font-weight: $global-font-weight;
$h1-font-size: $global-font-size-px * 1.65;
$h2-font-size: $global-font-size-px * 1.55;
$h3-font-size: $global-font-size-px * 1.35;
$h4-font-size: $global-font-size-px * 1.25;
$h5-font-size: $global-font-size-px * 1.15;
$h6-font-size: $global-font-size;
$header-margin-bottom: 10px;
$paragraph-margin-bottom: 10px;
$small-font-size: 80%;
$small-font-color: $medium-gray;
$lead-font-size: $global-font-size * 1.25;
$lead-line-height: 160%;
$text-padding: 10px;
$subheader-lineheight: 140%; // Important: This needs to be a percentage value - outlook doesnt interprete EM and things.
$subheader-color: $dark-gray;
$subheader-font-weight: $global-font-weight;
$subheader-margin-top: 4px;
$subheader-margin-bottom: 8px;
$hr-width: $global-width;
$hr-border: 1px solid $black;
$hr-margin: 20px auto;
$anchor-text-decoration: none;
$anchor-color: $primary-color;
$anchor-color-visited: $anchor-color;
$anchor-color-hover: darken($primary-color, 10%);
$anchor-color-active: $anchor-color-hover;
$stat-font-size: 40px;

// 5. Button
// ---------

$button-padding: (tiny: 4px 8px 4px 8px,
small: 5px 10px 5px 10px,
default: 8px 16px 8px 16px,
large: 10px 20px 10px 20px,
);
$button-font-size: (tiny: 10px,
small: 12px,
default: 16px,
large: 20px,
);
$button-color: $white;
$button-color-alt: $medium-gray;
$button-font-weight: bold;
$button-margin: 0 0 $global-margin 0;
$button-background: $primary-color;
$button-border: 2px solid $button-background;
$button-radius: $global-radius;
$button-rounded: $global-rounded;

// 6. Callout
// ----------

$callout-background: $white;
$callout-background-fade: 85%;
$callout-padding: 10px;
$callout-margin-bottom: $global-margin;
$callout-border: 1px solid darken($callout-background, 20%);
$callout-border-secondary: 1px solid darken($secondary-color, 20%);
$callout-border-success: 1px solid darken($success-color, 20%);
$callout-border-warning: 1px solid darken($warning-color, 20%);
$callout-border-alert: 1px solid darken($alert-color, 20%);

// 7. Menu
// -------

$menu-item-padding: 10px;
$menu-item-gutter: 10px;
$menu-item-color: $primary-color;

// 8. Thumbnail
// ------------

$thumbnail-border: solid 4px $white;
$thumbnail-margin-bottom: $global-margin;
$thumbnail-shadow: 0 0 0 1px rgba($black, .2);
$thumbnail-shadow-hover: 0 0 6px 1px rgba($primary-color, .5);
$thumbnail-transition: box-shadow 200ms ease-out;
$thumbnail-radius: $global-radius;
