{#
/**
 * @file
 * Template for a 2 cell panel layout.
 *
 * This template provides a two cell panel display layout, with
 * each cell roughly equal in width.
 *
 * Variables:
 * - css_id: An optional CSS id to use for the layout.
 * - content: An array of content, each item in the array is keyed to one
 *   panel of the layout. This layout supports the following sections:
 *   - content.left: Content in the left cell.
 *   - content.right: Content in the right cell.
 *
 * Regions available:
 * - Subline (Inline Fields)
 * - Top
 * - Main
 * - Main (Full Width)
 * - Bottom
 * - content / "Custom" (used to place fields directly in the node.html.twig - not printed out per default)
 */
#}

{%
  set header_classes = [
    'entity-layout__header',
    'grid-container',
    content.subline|render|striptags('<img>')|trim|length ? 'has-subline'
  ]
%}

<div {{ attributes.addClass('entity-layout', 'entity-layout--node-default') }}>
  {% if content.title|render|striptags('<img><video><iframe>')|trim|length or content.subline|render|striptags('<img><video><iframe>')|trim|length %}
    <header {{ region_attributes.title.addClass(header_classes) }}>
      {% if content.title|render|striptags('<img><video><iframe>')|trim|length %}
        {{ content.title }}
      {% endif %}
      {% if content.subline|render|striptags('<img><video><iframe>')|trim|length %}
        <div {{ region_attributes.subline.addClass('entity-layout__subline', 'subline', 'field-container', 'field-container--inline', 'grid-container', 'mb-md') }}>
          {{ content.subline }}
        </div>
      {% endif %}
    </header>
  {% endif %}
  {% if content.top|render|striptags('<img><video><iframe>')|trim|length %}
    <div {{ region_attributes.top.addClass('entity-layout__top', 'field-container', 'grid-container') }}>
      {{ content.top }}
    </div>
  {% endif %}
  {% if content.main|render|striptags('<img><video><iframe>')|trim|length and content.main_aside|render|striptags('<img>')|trim|length %}
    <div class="grid-container">
      <div class="grid-x grid-margin-x grid-margin-y">
        <div {{ region_attributes.main.addClass('entity-layout__main', 'field-container', 'cell', 'small-12', 'large-8') }}>
          {{ content.main }}
        </div>
        <aside {{ region_attributes.main_aside.addClass('entity-layout__aside', 'field-container', 'cell', 'small-12', 'large-4') }}>
          {{ content.main_aside }}
        </aside>
      </div>
    </div>
  {% elseif content.main|render|striptags('<img><video><iframe>')|trim|length %}
    <div {{ region_attributes.main.addClass('entity-layout__main', 'field-container', 'grid-container') }}>
      {{ content.main }}
    </div>
  {% elseif content.main_aside|render|striptags('<img><video><iframe>')|trim|length %}
    <div {{ region_attributes.main_aside.addClass('entity-layout__aside', 'field-container', 'grid-container') }}>
      {{ content.main_aside }}
    </div>
  {% endif %}
  {% if content.main_full|render|striptags('<img><video><iframe>')|trim|length %}
    <div {{ region_attributes.main_full.addClass('entity-layout__main-full', 'field-container', 'viewport-width') }}>
      {{ content.main_full }}
    </div>
  {% endif %}
  {% if content.bottom|render|striptags('<img><video><iframe>')|trim|length %}
    <div {{ region_attributes.bottom.addClass('entity-layout__bottom', 'field-container', 'grid-container') }}>
      {{ content.bottom }}
    </div>
  {% endif %}
</div>
