// Hint: Default styles for this sections coming from drowl_base
// ensure to set drowl_base/page_layout to false or override it
// if the structure/styles differs much.

.header-image-wrapper{
  .slick{
    @include breakpoint(large) {
      height:$default-header-image-height;
    }
  }
}
