@font-face {
  font-family: 'drowl-ico';
  src:
    url('fonts/drowl-ico.woff2?3jrb7i') format('woff2'),
    url('fonts/drowl-ico.ttf?3jrb7i') format('truetype'),
    url('fonts/drowl-ico.woff?3jrb7i') format('woff'),
    url('fonts/drowl-ico.svg?3jrb7i#drowl-ico') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="ico-"], [class*=" ico-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'drowl-ico' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.ico-exclamation-mark:before {
  content: "\e904";
}
.ico-info:before {
  content: "\e903";
}
.ico-arrow-right-end:before {
  content: "\e901";
}
.ico-arrow-left-end:before {
  content: "\e902";
}
.ico-home:before {
  content: "\e900";
}
.ico-newspaper:before {
  content: "\e90b";
}
.ico-design:before {
  content: "\e90d";
}
.ico-pen:before {
  content: "\e922";
}
.ico-image:before {
  content: "\e93f";
}
.ico-images:before {
  content: "\e940";
}
.ico-music:before {
  content: "\e94e";
}
.ico-clapboard-play:before {
  content: "\e959";
}
.ico-film:before {
  content: "\e961";
}
.ico-archive:before {
  content: "\e996";
}
.ico-file:before {
  content: "\e99e";
}
.ico-files:before {
  content: "\e9a0";
}
.ico-file-plus:before {
  content: "\e9a2";
}
.ico-file-minus:before {
  content: "\e9a4";
}
.ico-file-download:before {
  content: "\e9a6";
}
.ico-file-upload:before {
  content: "\e9a8";
}
.ico-file-text:before {
  content: "\e9ae";
}
.ico-file-image:before {
  content: "\e9b0";
}
.ico-file-video:before {
  content: "\e9b4";
}
.ico-file-zip:before {
  content: "\e9ba";
}
.ico-file-code:before {
  content: "\e9be";
}
.ico-file-presentation:before {
  content: "\e9c0";
}
.ico-file-table:before {
  content: "\e9c6";
}
.ico-folder:before {
  content: "\e9d0";
}
.ico-folder-plus:before {
  content: "\e9d4";
}
.ico-folder-minus:before {
  content: "\e9d6";
}
.ico-tag:before {
  content: "\e9ee";
}
.ico-cart:before {
  content: "\e9fe";
}
.ico-lifebelt:before {
  content: "\ea1b";
}
.ico-phone:before {
  content: "\ea1d";
}
.ico-phone-wave:before {
  content: "\ea1f";
}
.ico-mail:before {
  content: "\ea30";
}
.ico-mail-alt:before {
  content: "\ea34";
}
.ico-location:before {
  content: "\ea3b";
}
.ico-compass:before {
  content: "\ea43";
}
.ico-map:before {
  content: "\ea48";
}
.ico-direction:before {
  content: "\ea4a";
}
.ico-clock:before {
  content: "\ea4e";
}
.ico-calendar:before {
  content: "\ea62";
}
.ico-printer:before {
  content: "\ea69";
}
.ico-display:before {
  content: "\ea76";
}
.ico-mobile:before {
  content: "\ea78";
}
.ico-tablet:before {
  content: "\ea7a";
}
.ico-undo:before {
  content: "\eaa5";
}
.ico-redo:before {
  content: "\eaa6";
}
.ico-bubble:before {
  content: "\ead8";
}
.ico-bubbles:before {
  content: "\eadf";
}
.ico-user:before {
  content: "\eaf7";
}
.ico-users:before {
  content: "\eaf8";
}
.ico-user-plus:before {
  content: "\eaf9";
}
.ico-user-minus:before {
  content: "\eafa";
}
.ico-spinner:before {
  content: "\eb24";
}
.ico-search:before {
  content: "\eb36";
}
.ico-zoom-in:before {
  content: "\eb38";
}
.ico-zoom-out:before {
  content: "\eb39";
}
.ico-key:before {
  content: "\eb4b";
}
.ico-locked:before {
  content: "\eb51";
}
.ico-unlocked:before {
  content: "\eb54";
}
.ico-equalizer:before {
  content: "\eb5b";
}
.ico-cogs:before {
  content: "\eb60";
}
.ico-cog:before {
  content: "\eb61";
}
.ico-magic-wand:before {
  content: "\eb6d";
}
.ico-pie-chart:before {
  content: "\eb81";
}
.ico-stats-bars:before {
  content: "\eb8a";
}
.ico-stats-growth:before {
  content: "\eb90";
}
.ico-leaf:before {
  content: "\ebcd";
}
.ico-rocket:before {
  content: "\ebdd";
}
.ico-fire:before {
  content: "\ebe8";
}
.ico-lab:before {
  content: "\ebea";
}
.ico-lightbulp:before {
  content: "\ebf6";
}
.ico-delete:before {
  content: "\ebfd";
}
.ico-briefcase:before {
  content: "\ec02";
}
.ico-paperplane:before {
  content: "\ec09";
}
.ico-shield-check:before {
  content: "\ec32";
}
.ico-shield-notice:before {
  content: "\ec33";
}
.ico-power:before {
  content: "\ec48";
}
.ico-clipboard-check:before {
  content: "\ec54";
}
.ico-clipboard-list:before {
  content: "\ec55";
}
.ico-list:before {
  content: "\ec59";
}
.ico-more:before {
  content: "\ec5c";
}
.ico-grid:before {
  content: "\ec5d";
}
.ico-grid-nine:before {
  content: "\ec5f";
}
.ico-grid-four:before {
  content: "\ec62";
}
.ico-tree:before {
  content: "\ec65";
}
.ico-menu:before {
  content: "\ec6d";
}
.ico-cloud:before {
  content: "\ec79";
}
.ico-cloud-download:before {
  content: "\ec7a";
}
.ico-cloud-upload:before {
  content: "\ec7b";
}
.ico-cloud-check:before {
  content: "\ec7c";
}
.ico-download:before {
  content: "\ec7d";
}
.ico-upload:before {
  content: "\ec7f";
}
.ico-sphere:before {
  content: "\ec91";
}
.ico-earth:before {
  content: "\ec97";
}
.ico-anchor:before {
  content: "\eca3";
}
.ico-flag:before {
  content: "\eca6";
}
.ico-attachment:before {
  content: "\ecac";
}
.ico-eye:before {
  content: "\ecae";
}
.ico-eye-blocked:before {
  content: "\ecb1";
}
.ico-bookmark:before {
  content: "\ecb7";
}
.ico-bookmark-empty:before {
  content: "\ecb8";
}
.ico-star:before {
  content: "\ece2";
}
.ico-star-empty:before {
  content: "\ece3";
}
.ico-heart:before {
  content: "\ecef";
}
.ico-heart-empty:before {
  content: "\ecf0";
}
.ico-thumbs-up:before {
  content: "\ecf8";
}
.ico-thumbs-down:before {
  content: "\ecf9";
}
.ico-notification-circle:before {
  content: "\ed52";
}
.ico-question-circle:before {
  content: "\ed54";
}
.ico-question5:before {
  content: "\ed57";
}
.ico-plus-circle:before {
  content: "\ed61";
}
.ico-minus-circle:before {
  content: "\ed62";
}
.ico-info-circle:before {
  content: "\ed64";
}
.ico-remove-circle:before {
  content: "\ed66";
}
.ico-remove:before {
  content: "\ed6d";
}
.ico-check:before {
  content: "\ed72";
}
.ico-play-circle:before {
  content: "\ed7e";
}
.ico-pause-circle:before {
  content: "\ed7f";
}
.ico-stop-circle:before {
  content: "\ed80";
}
.ico-play:before {
  content: "\ed85";
}
.ico-pause:before {
  content: "\ed86";
}
.ico-stop:before {
  content: "\ed87";
}
.ico-refresh:before {
  content: "\edaa";
}
.ico-chevron-up:before {
  content: "\edb9";
}
.ico-chevron-right:before {
  content: "\edbd";
}
.ico-chevron-down:before {
  content: "\edc1";
}
.ico-chevron-left:before {
  content: "\edc5";
}
.ico-arrow-up:before {
  content: "\edd4";
}
.ico-arrow-right:before {
  content: "\edd6";
}
.ico-arrow-down:before {
  content: "\edd8";
}
.ico-arrow-left:before {
  content: "\edda";
}
.ico-chevron-up-circle:before {
  content: "\ede7";
}
.ico-chevron-right-circle:before {
  content: "\ede8";
}
.ico-chevron-down-circle:before {
  content: "\ede9";
}
.ico-chevron-left-circle:before {
  content: "\edea";
}
.ico-arrow-up-circle:before {
  content: "\ee2b";
}
.ico-arrow-right-circle:before {
  content: "\ee2c";
}
.ico-arrow-down-circle:before {
  content: "\ee2d";
}
.ico-arrow-left-circle:before {
  content: "\ee2e";
}
.ico-check-circle:before {
  content: "\ee76";
}
.ico-filter:before {
  content: "\ee8b";
}
.ico-css-circle:before {
  content: "\eed2";
}
.ico-share:before {
  content: "\eee0";
}
.ico-facebook:before {
  content: "\eeef";
}
.ico-instagram:before {
  content: "\eef1";
}
.ico-rss:before {
  content: "\eefa";
}
.ico-xing:before {
  content: "\ef33";
}
