{#
/**
 * @file
 * Template for entity full views.
 *
 * This is an example layout with three regions (L+R Top are coloumns)
 *
 * Variables:
 * - css_id: An optional CSS id to use for the layout.
 * - content: An array of content, each item in the array is keyed to one
 *   panel of the layout. This layout supports the following sections:
 *   - content.left: Content in the left cell.
 *   - content.right: Content in the right cell.
 *
 * Regions available:
 * - Left Top (Titles)
 * - Right Top (Highlighted)
 * - content (full width beyond)
 *
 * !! Ensure you have:
 * - attributes set on the outer wrapper
 * - region_attributes.REGION_NAME set on each region wrapper
 * - added an entry in the drowl_base.layouts.yml
 */
#}

{# https://www.drupal.org/docs/8/api/layout-api/how-to-register-layouts #}
{# !! Ensure to set attributes on the outer wrapper and region_attributes.REGION_NAME on the region wrappers! #}
<div {{ attributes.setAttribute('id', settings.css_id).addClass(['contact-layout', 'grid-container'], settings.css_classes) }}>
  <div class="grid-x grid-margin-x grid-margin-y align-top align-justify">
    {% if content.top_first|render|striptags('<img><video><drupal-render-placeholder>')|trim|length > 0 %}
      <div {{ region_attributes.top_first.addClass(['cell', 'auto', 'contact-layout__top-first']) }}>
        {{ content.top_first }}
      </div>
    {% endif %}
    {% if content.top_last|render|striptags('<img><video><drupal-render-placeholder>')|trim|length > 0 %}
      <div {{ region_attributes.top_last.addClass(['cell', 'auto', 'contact-layout__top-last']) }}>
        <div class="contact-layout__contact-items box-style box-style--primary-glass">
          {{ content.top_last }}
        </div>
      </div>
    {% endif %}
  </div>
  {% if content.main|render|striptags('<img><video><drupal-render-placeholder>')|trim|length > 0 %}
    <div {{ region_attributes.main.addClass(['contact-layout__main', 'field-container']) }}>
      {{ content.main }}
    </div>
  {% endif %}
</div>
